<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.linkedin.com/in/sumit-kumar-rawani/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/in/sumit-kumar-rawani/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sumit-kumar-rawani/"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        <div>&copy; WanderLust privacy Limited</div>
        <div class="f-info-links">
            <a href="/policy">Policy</a>
            <a href="/term">Terms</a>
        </div>
    </div>

</footer>