body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
     font-optical-sizing: auto !important;;
    font-weight: 400 !important;;
    font-style: normal !important;;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* nav */
.navbar{
    height: 5rem;
    background-color: white;
}
.nav-link{
    color:#222222 !important;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

/* footer */
.f-info{
    display: flex;
    background-color: rgb(221, 219, 219);
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.f-info-social,.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    font-size: 1.2rem;
}
.f-info-social i{
    margin-right: 1.2rem;
    margin-top: 20px;
    color: gray;
}
.f-info-social i:hover{
    color: #222222;
}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    width: 100%;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-tex{
    font-weight: 400;
}
.listing-link{
    text-decoration: none ;
}

/* card-img-overlay */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 54vh;
}

/* map */
#map { height: 180px; }

/* reviwe */
.review-scroll {
  height: 60px;         
  overflow-y: auto;     
  overflow-x: hidden;   
  padding-right: 5px;
  margin-bottom: 9px;
  scrollbar-width: thin;
}