<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <h3>WanderLust SignUp</h3>
        <form method="POST" action="/signup" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username"  placeholder="username" id="username" type="text" class="form-control" required>
                <div class="invalid-feedback">Plese write valid name</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input  name="email" placeholder="Email" id="email" type="text" class="form-control" required>
                <div class="invalid-feedback">Plese write valid email</div>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Passord</label>
                <input name="password"  placeholder="Password" id="password" type="password" class="form-control" required>
                <div class="invalid-feedback">Plese write valid password</div>
            </div>
            <button class="btn btn-success">SingUp</button>
        </form>
        
    </div>
</div>